@model IEnumerable<AIM.Models.Application>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>





<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
       
     
        
    </div>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Application
            </th>
            <th>
                Category
            </th>
            <th>
                Description
            </th>

            <th>
                Critical Level
            </th>
            <th>
              SLA Level
            </th>
           
           <th>Date Created</th>
            <th> Created By</th>
           

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CatName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppDescription)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CriticalLevel.CriticalLevelName)
                </td>

                
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CatName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AppCreatedDt)
                </td>

               <td>
                    @Html.DisplayFor(modelItem => item.AppCreatedBy)
                </td>

              

         
        
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>

  </script>