@model AIM.Models.AppSystemAffected

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppSystemAffected</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.System)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.System.AppCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser.UserCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
