@model IEnumerable<AIM.Models.Server>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Created Date
            </th>
            <th>
                Updated Date
            </th>
            <th>
                Status
            </th>
            <th>
                Created By
            </th>
            <th>
                Updated By
            </th>
            <th>
                IP Address
            </th>
            <th>
                Server Type
            </th>
            <th>
                Host Name
            </th>
            <th>
                Host IP Address
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerCreatedDt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerUpdatedDt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.UserFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy.UserFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerIPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerHostName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerHostIPAddress)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServerCode">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ServerCode">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServerCode" >Delete</a>
                    <a asp-controller="Applications" asp-action="ByServer" asp-route-servercode="@item.ServerCode">
                        <i class="fas fa-cogs"></i>
                        See Applications
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
