@model AIM.Models.AppBusinessImpact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppBusinessImpact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpactCreatedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpactCreatedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RPortOsla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RPortOsla.RPortOslaCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessImpact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessImpact.ImpactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.UserFullName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
