@model AIM.Models.AppAreaAffected

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AppAreaAffected</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application.AppCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area.AreaCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser.UserCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AppCode" />
        <input type="hidden" asp-for="AreaCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
