@model IEnumerable<AIM.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupCreatedDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupUpdatedDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupCreatedDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupUpdatedDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.UserCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy.UserCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
