@model AIM.Models.AppContact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application.AppName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupportType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupportType.SupportTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserFullName)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
