@model AIM.Models.SLALevel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SLALevel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SLALevelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SLALevelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SLALevelCreatedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SLALevelCreatedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SLALevelUpdatedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SLALevelUpdatedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.UserCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy.UserCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SLALevelCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
