@model AIM.Models.CriticalLevel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CriticalLevel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriticalLevelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriticalLevelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriticalLevelCreatedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriticalLevelCreatedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriticalLevelUpdatedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriticalLevelUpdatedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.UserFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy.UserFullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CriticalLevelCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
