@model IEnumerable<AIM.Models.CriticalLevel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CriticalLevelName)
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
    
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CriticalLevelName)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
      
            <td>
                <a asp-action="Edit" asp-route-id="@item.CriticalLevelCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CriticalLevelCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CriticalLevelCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
